@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;
    z-index: 200;
    background-color: white;
    padding-top: 5px;
  }
  
  .sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .sidebar-link:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  
  .sidebar-link img {
    height: 24px;
  }
  
  .sidebar-link div {
    font-size: 10px;
    padding-top: 6px;
  }
}


@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 180px;
    z-index: 200;
    background-color: white;
    padding-top: 5px;
  }
  
  .sidebar-link {
    height: 48px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-link:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  
  .sidebar-link img {
    height: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .sidebar-link div {
    font-size: 12px;
  }
}